
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
* {
	margin:0;
	padding:0;
	border:0;
  font-family: 'Architects Daughter', cursive; 
}
.page{
  background-color: rgb(90, 90, 90);
}
.header{
  position: fixed;
  width:100%;
  height: 18%;
  background-color: rgba(43, 43, 43, 0.9);
  display: flex;
}
.blue-color {
  color:blue;
  }
  .green-color {
  color:green;
  }
  .teal-color {
  color:teal;
  }
  .yellow-color {
  color:yellow;
  }
  .red-color {
  color:red;
  }
.logo img{
  margin-top: -15%;
  width: 300px;
  height: 210px;
  margin-left: -70px;
}
.header li a{
  color: rgb(226, 224, 224);
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
}
.header li a button{
  color: rgb(226, 224, 224);
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
}
.header ul{
  display: flex;
}
ul .nav-li {
  display: flex;
  list-style: none;
}
.nav-li {
  margin-left: 200px;
}
.nav-li li{
  padding: 10px;
  font-size: medium;
  margin-top: 10%;
}
.header li a button{
  margin-top: -5px;
}
.topnav-right {
}
#image-nav{
  margin-top: 30px; 
}
.topnav-right li a:hover {
  color:rgb(255, 102, 0) ;
}
.header li a button:hover {
  color:rgb(255, 102, 0) ;
}
.calling h1 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  color:white;
  letter-spacing: 3px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 70px;
  margin-left: 220px;
}
.calling a{
  text-decoration: none;
}
.area {
  animation: blur .9s ease-out infinite;
}
@keyframes blur {
  from {
    text-shadow:0px 0px 10px rgb(167, 164, 164),
      0px 0px 10px rgb(209, 208, 208), 
      0px -10px 100px #7B96B8;
  }
}
.header-img{
  background: url(./img/14.jpg) ;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.gran-image{
  background-color: rgba(250, 111, 46, 0.8);
  width: 61%;
  margin: -80px auto;
  padding: 15px;
  box-shadow: 0 0 8px rgb(77, 76, 76);
}
.gran-image img{
   width: 160px;
   height: 170px;
   border-radius: 50%;
   padding: 10px 20px;
   margin: 0 auto;
   border-bottom: 2px solid rgb(255, 255, 255) ;  
}
.gran-image div{
  margin-left: 13%;
}
.intro{
  margin-top: 10%;
  margin-bottom: 5%;
  
}
.intro h4{
  color: rgb(255, 255, 255);
  font-weight: 900;
 padding: 0px 80px;
 text-align: center;
 letter-spacing: 5px;
 line-height: 40px;
}
.et-main {
  background: url(./img/bathrom1.jpg) ;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding-top: 10px;
}
/* service tab */
.et-main .et-slide div{
  background-color: rgb(235, 235, 235);
  padding: 5%;
  margin: 10% 5%;
}
.img1{
  width: 50%;
  height:10%;
  float: right;
  border: 2px solid white;
  margin-left: 20px;
  box-shadow: 0 0 8px rgb(77, 76, 76);
}
.img2{
  width: 50%;
  height:10%;
  float: left;
  border: 2px solid white;
  margin-right: 20px;
  box-shadow: 0 0 8px rgb(77, 76, 76);
}
.img2:hover{
  width: 660px;
  height:420px;
}
.img1:hover{
  width: 660px;
  height:420px;
}
.et-main .et-slide div h4{
  color: rgb(255, 89, 11);
  font-weight: 600;
  font-size: 30px;
  text-shadow: 0 0 2px rgb(83, 83, 83);
}
.et-main .et-slide div p{
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}
/* gallary tab */
.tab-Gallery{
  background-color: rgb(90, 90, 90);
  height: auto;
  padding: 90px;
  box-shadow: 0 0 8px rgb(87, 86, 86);
}
div.gallery {
  border: 2px solid rgb(196, 193, 193);
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: 300px;
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.link{
  text-align: center;
  text-decoration: none;
  margin-top: 60px;
}
.link a{
  margin-top: 20px;
  color: #f2f2f2;
  font-size: 20px;
  border: 1px solid rgb(247, 245, 245);
  padding: 8px 15px;
  font-family: 'Times New Roman', Times, serif;
  background-color:rgb(40, 97, 255);
  text-decoration: none;
  box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

/* about tab */
.about h3{
  font-size: 22px;
  margin-top: 75px;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.about big{
  color: rgb(255, 89, 11);
    font-weight: 600;
  font-size: 25px;
  font-family: 'Architects Daughter', cursive;
}
.about-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about li{
  list-style: none;
  color: rgb(255, 89, 11);
}
.about{
    background-color: rgb(240, 235, 235);
    height: auto;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;   
    box-shadow: 0 0 8px rgb(87, 86, 86);
}
.about-button{
  padding: 0% 10%;
}
.review{
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('./gallary-img/main-photos/3.jpg');
  box-shadow: 0 0 8px rgb(66, 66, 66);
  border: 1px solid rgb(87, 86, 86);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.review-parts {
  background-color: rgb(90, 90, 90);
  padding: 10px;
}
.reviews-window{
  height: 350px;
  overflow: scroll;
  width: 380px;
}
.review h3{
  text-align: center;
  /* color: rgb(17, 64, 196); */
  color: rgb(253, 140, 87);
  font-size: 30px;
  margin-top: 5px;
}
.review-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.review-card div{
  border-radius: 3%;
  border: 1px solid rgb(250, 247, 247);
  background-color: rgb(250, 247, 247);
  margin: 10px;
  padding: 10px;
  height: 145px;
  width: 330px;
  box-shadow: 0 0 8px rgb(87, 86, 86);
}
.review-card h6{
  color: rgb(5, 5, 5);
  font-size: 20px;
  height: 100px;
  overflow: auto;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.review-card h3{
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(253, 140, 87);
  text-align: center;
  margin-bottom: 10px;
  margin-top: -5px;
}
.review-form{
  margin-left: 1%;
}
.review-form h3{
  text-align: center;
  margin-bottom: -10px;
  margin-top: 65px;
}
.review-form-fields{
  margin-left: 30%;
}
#tbName {
  margin-bottom: 20px; 
  width: 57%; 
  padding-right: 90px;
}
#txComment{
  width: 57%;
}
#btnSubmitComment{
  padding: 5px 10px;
  background-color:rgb(40, 97, 255);
  color: #f2f2f2;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-left: 19%;
  font-size: 20px;
  padding: 0px 20px;
  border-radius: 5%;
}
.review-form h5{
  font-size: 25px;
  color: rgb(236, 232, 232);
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  word-spacing: 1px;
  line-height: 40px;
  font-weight: 800;
}
/* contact tab */
.Connect-slide{
  background-color: rgb(90, 90, 90);
  box-shadow: 0 0 8px rgb(87, 86, 86);
  height: 490px;
  display: flex;
  justify-content: space-around;
  padding: 50px 0px 30px 0px;
}
label{
  padding-top: 10px;
}
.conect-info{
  margin-right: 10px;
  width: 300px;
}
.Connect-slide h3{
  color: rgb(255, 144, 93);
  font-size: large;
  padding-top: 15px;
  font-size: 20px;
  margin-top: -15px;
}
.Connect-slide h4{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  padding-left: 25px;
}
.Connect-slide h5{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 16px;  
}
.contact{
  margin-top: -20px;
  margin-right: 10px;
}
input{
 padding-top: 5px;
}
button{
  background-color:rgb(40, 97, 255);
  color: #f2f2f2;
}
.submit{
  margin-left: 20%;
  
}
.submit button{
  font-size: 20px; 
  padding: 0px 20px;
}
/* footer tab */
footer{
  background-color: rgb(56, 56, 56);
    height: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5px;
    padding-top: 5px;
}
.social-media{
  margin-top: 50px;
  margin-left: 30px;
}
.social-media h6{
  color: rgb(255, 144, 93);
  font-size: large;
}
.social-media ul {
  display: flex;
}
.social-media ul li{
  list-style: none;
  padding: 10px;
}
.social-media ul li img{
  width: 85%;
}

/* ///////////update gallary tab//////////// */
.containers {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
}
.gallery__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery__title {
  margin: 50px 0;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(255, 89, 11);
}
.gallery__card {
  min-width: 350px;
  height: 250px;
  margin: 5px 5px;
  background: rgb(44, 44, 44);
  background-size: 100%;
  background-position: top left;
  transition: background-position 2s;
  cursor: pointer;
}
.gallery__card:nth-child(1) {
  background-image: url("./gallary-img/main-photos/8.jpg");
  background-repeat: no-repeat;
}
.gallery__card:nth-child(2) {
  background-image: url("./gallary-img/main-photos/1.JPG");
  background-repeat: no-repeat;
}
.gallery__card:nth-child(3) {
  background-image: url("./gallary-img/main-photos/3.jpg");
  background-repeat: no-repeat;
}
.gallery__card:nth-child(4) {
  background-image: url("./gallary-img/main-photos/10.jpg");
  background-repeat: no-repeat;
}
.gallery__card:nth-child(5) {
  background-image: url("./gallary-img/main-photos/13.JPG");
  background-repeat: no-repeat;
}
.gallery__card:nth-child(6) {
  background-image: url("./gallary-img/main-photos/5.jpg");
  background-repeat: no-repeat;
}
.gallery__card:nth-child(7) {
  background-image: url("./gallary-img/main-photos/2+.jpg");
  background-repeat: no-repeat;
}
.gallery__card:nth-child(8) {
  background-image: url("./gallary-img/main-photos/9.jpg");
  background-repeat: no-repeat;
}
.gallery__card:nth-child(9) {
  background-image: url("./gallary-img/main-photos/5+.jpg");
  background-repeat: no-repeat;
}
.gallery__card:hover {
  background-position: bottom left;
}

/* /////////////////////////////
/* gallary page
///////////////////////////// */
.bathroom-icon-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 200px;
}
.bathroom-icon-list a img{
  border-radius: 50%;
  width: 190px;
  height: 190px;
}
.bathroom-icon-list a{
  text-decoration: none;
}
.gallary-windo{
  background-color: rgb(240, 240, 240);
  height: auto;
  margin: 10% 0px;
}
.gallary-windo h2{
  color: rgb(255, 89, 11);
    text-align: center;
  padding: 60px 0px 30px 0px;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2px;
}
#gallery-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  z-index: -1;
}
#thumbnail-gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 50px 50px 50px;
}
.thumbnail {
  width: 22%;
  margin-bottom: 2%; 
}
img.thumbnail-image {
  width: 300px;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}
/* Lightbox Styles */ 
.lightbox-overlay {
display: flex;
transform: scale(0,1);
transition: transform 400ms ease-out;
transform-origin: center;
justify-content: center;
align-items: center;
background-color: rgb(80,80,80,0.95);
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
}
.lightbox-overlay:target {
display: flex;
transform: scale(1,1);
z-index: 99999;
};
.lightbox-content {
color: rgb(250,250,250);
padding: 1.5em;
width: 75vw;
text-align: center;
}
.lightbox-image-title {
position: relative;
text-align: center;
}
.lightbox-navigation {
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}
.close {
position: absolute;
background-color: none;
  top: 5px;    /* Top Right Corner Placement */
  right: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
a.close {
text-decoration: none;
font-weight: bold;
font-size :2em;
font-family: sans-serif;
}
.close::after {
content: 'X';
color: rgb(255, 89, 11);
}
.back, .next {
display: flex;
justify-content: center;
align-items: center;
width: 24%;
height: 2em;
color: rgb(255, 89, 11);
margin: 1%;
text-decoration: none;
font-size: 30px;
} 
img.lightbox-image {
width: 85vw;
max-height: 75vh;
object-fit: contain;
}

/* gallary page */
@media only screen and (max-width: 1350px){
*{
}
  
}

@media only screen and (max-width: 800px){
  #gallery-section {
    padding: 10px 10px 0px 10px;
  }
  #thumbnail-gallery-container {
      padding: 0px;
  }
  img.thumbnail-image {
    width: 100px;
    height: 130px;
    object-fit: cover;
    object-position: center center;
  }
  .gallary-windo h2{
    color: rgb(255, 71, 15);
    text-align: center;
    padding: 30px 0px;
    font-size: 23px;
    font-weight: 900;
    letter-spacing: 2px;
    
  }
  .header{
    height: auto;
  }
  .logo img{
    margin-top: -9%;
    width: 300px;
    height: 210px;
    margin-left: -70px;
  }
  .header li a{
    font-size: 17px;
  }
  .header li a button{
    font-size: 17px;
  }
  .header ul{
    display: block;
  }
  ul .nav-li {
    display: flex;
    list-style: none;
  }
  .nav-li {
    margin-left: -20px;
  }
  .nav-li li{
    padding: 10px;
    font-size: medium;
    margin-top: -10%;
  }
  .header li a button{
    margin-top: -5px;
  }
  #image-nav{
    margin-top: 20px; 
  }
  .calling h1 {
    font-size: .9em;
    margin-top: 0px;
    margin-left: 100px;
  }
  .calling a{
    text-decoration: none;
  }
  .header-img{
    height: 500px;
  }
  .gran-image{
    width: 94%;
    margin: -80px auto;
  }
  .gran-image img{
     width: 80px;
     height: 80px;
     border-radius: 50%;
     padding: 10px 10px;
     margin: 0 auto;
     margin-left: -1px;
  }
  .gran-image div{
    margin-left: 13%;
  }
  .intro{
    margin-top: 23%;
    margin-bottom: 6%;
  }
  .intro h4{
   font-size: 15px;
   padding: 0px 20px;
   letter-spacing: 1px;
   line-height: 22px;
   word-spacing: 1.5px;
  }
  .img1{
    width: 100% ;
    height:20%;
  }
  .img2{
    width: 100% ;
    height:20%;
  }
  .img2:hover{
    width: 100% ;
    height:22%;
  }
  .img1:hover{
    width: 100% ;
    height:22%;
  }
  .et-main .et-slide div h4{
    font-size: 20px;
  }
  /* about tab */
.about h3{
  font-size: 16px;
  margin-top: 55px;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.about big{
  color: rgb(255, 71, 15);
  font-weight: 600;
  font-size: 19px;
  font-family: 'Architects Daughter', cursive;
}
.about h5{
  font-size: 16px;
}
#image-nav{
  display: flex;
  padding-top: 55px;
}
.review{
  display: block;
}
.reviews-window{
  height: 350px;
  overflow: scroll;
  width: 300px;
}
.review h3{
  font-size: 25px;
  margin-top: 10px;
}
.review-card div{
  margin: 10px;
  padding: 10px;
  height: 145px;
  width: 300px;
}
.review-card h6{
  color: rgb(5, 5, 5);
  font-size: 15px;
  height: 100px;
  overflow: auto;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.review-card h3{
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 71, 15);
  text-align: center;
  margin-bottom: 10px;
  margin-top: -5px;
}
/* .review-form{
  margin-left: 1%;
} */
.review-form h3{
  text-align: center;
  margin-bottom: -10px;
  margin-top: 25px;
}
.review-form-fields{
  margin-left: 20%;
}
#tbName {
  width: 75%; 
}
#txComment{
  width: 75%;
}
#btnSubmitComment{ 
  margin-bottom: 20px;
}
.review-form h5{
  font-size: 20px;
  color: rgb(236, 232, 232);
  padding: 10px;
  /* letter-spacing: 3px; */
  word-spacing: 1px;
  line-height: 40px;
  font-weight: 800;
}
/* contact tab */
.Connect-slide{
  height: auto;
  display: block;
  padding: 50px 0px 30px 10px;
}
label{
  padding-top: 10px;
}

.conect-info{
  margin-right: 10px;
  width: 300px;
}
.Connect-slide h3{
  color: rgb(255, 71, 15);
  padding-top: 15px;
  font-size: 18px;
  margin-top: -15px;
}
.Connect-slide h4{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  padding-left: 25px;
}
.Connect-slide h5{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 16px;  
}
.contact{
  padding-top: 80px;
  margin-top: -20px;
  margin-right: 10px;
}
input{
 padding-top: 5px;
}

#your-name{
  margin-right: 10px;
}
#your-text{
  width: 74%;
}
.submit{
  margin-left: 0%;
}
.submit button{
  font-size: 15px; 
  padding: 0px 20px;
}

.social-media{
border-top: 1px solid black;
margin-top: 50px;
margin-left: 0px;
padding-top: 20px;
}
.social-media h6{
}
.social-media ul {
display: flex;
}
.social-media ul li{
list-style: none;
padding: 10px;
}
.social-media ul li img{
width: 75%;
}

#image-nav{
  margin-top: 10px;
  margin-left: 10px;
}
#image-phone{
  margin-left: 240px;
  margin-top: -50px;
}
/* gallary */
.bathroom-icon-list a img{
  width: 100px;
  height: 100px;
}
.bathroom-icon-list h4{
  font-size: 17px;
}




}
@media screen and (max-width: 301px) {
  .gallery__card {
    min-width: 100%;
 }
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* contact box */
.modal{
display: none;
position: fixed;
z-index: 9999;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
font-family: sans-serif;
}
.modal-content{
background-color: #92c927;
width: 100%;
padding: 15px;
overflow: hidden;
position: relative;
box-sizing: border-box;
max-width: 370px;
margin:auto;
border-radius:0px;
border: 0px solid #fcfcfc;
padding: 15px;
-webkit-border-image: url(none) 30 stretch; /* Safari 3.1-5 */
-o-border-image: url(none) 30 stretch; /* Opera 11-12.1 */
border-image: url(none) 30 stretch;
}
.modal-close{
font-size: 20px;
float: right;
font-weight: 700;
color: #ffffff;
font-size: 25px;
margin-top: -10px;
transition: all .2s;
cursor: pointer;
width: auto;
}
.modal-close:hover{
color: #3b3b3b;
}
.modal-img img{
width: 100%;
}
.modal-text{
text-align: center;
color:#ffffff;
}
.modal-text h2{
font-size: 24px;
font-weight: 600;
font-family: Lato;
}
.modal-text p{
font-size: 17px;
margin-top: -15px;
margin-bottom: 50px;
font-family: Lato;
}
.modal-footer{
padding: 20px 30px;
color: rgba(255, 255, 255, 0.5);
width: auto;
background-color: #3b3b3b;
margin:-15px;
}
input[type=text].modal-input{
color: rgba(0, 0, 0, 0.5);
width:80%;
background: rgb(255, 255, 255);
border: none;
border-radius: 3px;
outline: rgba(0, 0, 0, 0.5) none 0px;
padding: 15px;
}
input[type=submit].modal-submit-btn{
padding: 14px;
font-size: 14px;
background-color: #3bb4f5;
color:#ffffff;
width:auto;
border:none;
cursor: pointer;
border-radius: 3px;
margin-bottom: -13px;
}

@media screen and (max-width: 27em) {
input[type=text].modal-input{
width:90%;
margin-bottom: 0px;
}
input[type=submit].modal-submit-btn{
width:90%;
}
.modal-text p{
font-size: 15px;
}
}





