
* {
	margin:0;
	padding:0;
	border:0;
}
.page{
  background-color: dimgrey;

}
.header{
  position: fixed;
  /* bottom: 0;
  right: 0; */
  width:100%;
  height: 15%;
  background-color: rgba(49, 48, 48, .8);
  display: flex;
  

}
.logo{
  color: rgb(255, 175, 110);
  margin: 2%;

}
.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 17px;
  margin: 58px 15px 10px 20px;
}
.topnav-right {
  margin-left: 10%;
}
/* Change the color of links on hover */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.header a.active {
  background-color: #04AA6D;
  color: white;
}


.header-img{
  background: url(./img/14.jpg) ;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;

}



@media screen
  and (max-device-width: 640px)
  and (orientation: landscape){
  .header a {
    font-size: 14px;
    margin: 0px;
  }

.logo{
  padding: 6px;
  color: white;

}
}